.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col{
  padding: 0 15px;
  width: 33.3%;
}
.game-card{
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  &__img{
    width: 100%;
    object-fit: cover;
  }
}